*{
    margin: 0;
    padding: 0;
    box-shadow: box-sizing ;
}
p.a{
    font-family: 'Bebas Neue', sans-serif;
}
body{
    background-color: rgb(183, 179, 179);
}
.header-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    min-height: 100vh;
    padding: 50px;
    /* Set the background image and other properties */
    background-image: url("../images/Header/HeaderBg.png");
    background-size: cover;
    background-position: center;
  }
  .header-left-title{
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .header-price{
    display: flex;
    margin-top: 20px;
  }
  .header-righ{
    justify-items: center;
  }
  .header-right img{
    padding-left: 150px;
    padding-top: 50px;
    height: 75%;
    width: 75%;
    background-image: url("../images/Header/Frame1.png");
    background-size: cover;
    background-position: center;
  }